:root {
  --sword: rgb(151, 113, 16);
}

#container-dice{
  background-image: url('../../images/TagmarBack2.png');
  background-repeat: no-repeat;
  background-size:100%;
  bottom: 0;
  color: black;
  left: 0;
  overflow: auto;
  padding: 2rem;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  background-size: cover;
}

.dd {
  grid-area: dd;
}

.tx {
  grid-area: tx;
}

.res {
  grid-area: res;
}

.content-dice {
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: 
    "dd . . tx"
    "dd . . tx"
    "dd res res res";
  margin-bottom: 2rem;
}

.card-dice {
  padding: 2rem;;
  
  background-color: rgba(0, 0, 0, 0.3);
  color: whitesmoke;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  border-radius: 0.4rem;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.3);
}

.dice img {
  width: 8rem;
  height: 100%;
  margin: 0.2rem;
  cursor: pointer;
}

.dice hr {
  width: 100%;
  margin: 0.6rem;
}

.text {

  padding: 1.2rem;
  padding-top: 1rem;

  
  background-color: rgba(0, 0, 0, 0.3);
  color: whitesmoke;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  border-radius: 0.4rem;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.3);
}

.text .diceTitle img {
  max-width: 14rem;

}

.result {

  padding: 1rem;
  
  background-color: rgba(0, 0, 0, 0.3);
  color: whitesmoke;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  border-radius: 0.4rem;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.3);
}

.dice_rolls {
 
  width: 60vw;
  height: 21vh;
  padding: 0.8rem;
  display: flex; 
  flex-wrap: nowrap;
  
  align-items: space-between;
  justify-content: center;

}

.die {
  
  background-repeat: no-repeat;
  background-size: cover;
  min-width: 17vh;
  margin-left: 3.5rem;

  padding-left: 1rem;
  padding-right: 1rem;

  align-items: space-between;
  justify-content: center;

  list-style-type: none;
  display: inline-block;

}


.hidden {
  background-repeat: no-repeat;
  background-size: cover;
  min-width: 17vh;
  margin-left: 3.5rem;

  padding-left: 1rem;
  padding-right: 1rem;

  align-items: space-between;
  justify-content: center;

  list-style-type: none;
  
  display: none;
}

.die p {
  padding-top: 5.1vh;
  padding-bottom: 6.6vh;
  text-align: center;
  font-size: 1.6rem;
  font-weight: bold;
}

.die10 {
  
  background-repeat: no-repeat;
  background-size: cover;
  min-width: 19vh;
  margin-left: 3.5rem;

  padding-left: 1rem;
  padding-right: 1rem;

  align-items: space-between;
  justify-content: center;

  list-style-type: none;
  display: inline-block;

}

.die1 {
  background-image: url('../../images/d10.png');
  
}

.die10 p {
  padding-top: 3.6vh;
  padding-bottom: 8.5vh;
  text-align: center;
  font-size: 1.8rem;
  font-weight: bold;
  font-style: italic;
}



.die2 {
  background-image: url('../../images/d20_1.png');

}

.die3 {
  background-image: url('../../images/d20_2.png');
  
}

.die4 {
  background-image: url('../../images/d20_3.png');
  
}